--extra-index-url https://download.pytorch.org/whl/cu121

numpy==1.24.3
gradio==4.21.0
opencv-python==4.8.1.78
onnx==1.15.0
insightface==0.7.3
psutil==5.9.6
torch==2.1.2+cu121; sys_platform != 'darwin'
torch==2.1.2; sys_platform == 'darwin'
torchvision==0.16.2+cu121; sys_platform != 'darwin'
torchvision==0.16.2; sys_platform == 'darwin'
onnxruntime-gpu==1.17.1
tqdm==4.66.2
ftfy
regex
pyvirtualcam
